parameters:
	ignoreErrors:
		-
			message: "#^Method Nucleos\\\\AntiSpamBundle\\\\DependencyInjection\\\\NucleosAntiSpamExtension\\:\\:configureTwig\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DependencyInjection/NucleosAntiSpamExtension.php

		-
			message: "#^Method Nucleos\\\\AntiSpamBundle\\\\Form\\\\Extension\\\\HoneypotFormExtension\\:\\:__construct\\(\\) has parameter \\$defaults with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Form/Extension/HoneypotFormExtension.php

		-
			message: "#^Method Nucleos\\\\AntiSpamBundle\\\\Form\\\\Extension\\\\HoneypotFormExtension\\:\\:createViewOptions\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Form/Extension/HoneypotFormExtension.php

		-
			message: "#^Method Nucleos\\\\AntiSpamBundle\\\\Form\\\\Extension\\\\HoneypotFormExtension\\:\\:createViewOptions\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Form/Extension/HoneypotFormExtension.php

		-
			message: "#^Method Nucleos\\\\AntiSpamBundle\\\\Provider\\\\SessionTimeProvider\\:\\:isValid\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Provider/SessionTimeProvider.php

		-
			message: "#^Method Nucleos\\\\AntiSpamBundle\\\\Provider\\\\TimeProviderInterface\\:\\:isValid\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Provider/TimeProviderInterface.php

		-
			message: "#^Method Nucleos\\\\AntiSpamBundle\\\\Tests\\\\App\\\\AppKernel\\:\\:configureContainer\\(\\) has parameter \\$container with no type specified\\.$#"
			count: 1
			path: tests/App/AppKernel.php

		-
			message: "#^Method Nucleos\\\\AntiSpamBundle\\\\Tests\\\\App\\\\AppKernel\\:\\:configureContainer\\(\\) has parameter \\$loader with no type specified\\.$#"
			count: 1
			path: tests/App/AppKernel.php

		-
			message: "#^Method Nucleos\\\\AntiSpamBundle\\\\Tests\\\\App\\\\AppKernel\\:\\:configureRoutes\\(\\) has parameter \\$routes with no type specified\\.$#"
			count: 1
			path: tests/App/AppKernel.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Twig\\\\\\\\TwigFilter' and Twig\\\\TwigFilter will always evaluate to true\\.$#"
			count: 1
			path: tests/Twig/Extension/StringTwigExtensionTest.php

		-
			message: "#^Method Nucleos\\\\AntiSpamBundle\\\\Tests\\\\Twig\\\\Extension\\\\StringTwigExtensionTest\\:\\:provideAntispamCases\\(\\) return type has no value type specified in iterable type iterable\\.$#"
			count: 1
			path: tests/Twig/Extension/StringTwigExtensionTest.php

