includes:
    - vendor-bin/phpstan/vendor/jangregor/phpstan-prophecy/src/extension.neon

parameters:
    autoload_files:
        - vendor-bin/test/vendor/autoload.php

    ignoreErrors:
        # Symfony DI
        - '#Cannot call method arrayNode\(\) on Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\|null.#'
        - '#Cannot call method integerNode\(\) on Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\|null.#'
        - '#Cannot call method scalarNode\(\) on Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\|null.#'

        - '#Access to an undefined property Prophecy\\Prophecy\\ObjectProphecy<Symfony\\Component\\Form\\FormView>::\$children.#'
        - '#Access to an undefined property Prophecy\\Prophecy\\ObjectProphecy<Symfony\\Component\\Form\\FormView>::\$parent.#'
