parameters:
	ignoreErrors:
		-
			message: "#^Cannot call method arrayNode\\(\\) on Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeParentInterface\\|null\\.$#"
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: "#^Cannot call method integerNode\\(\\) on Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeParentInterface\\|null\\.$#"
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: "#^Cannot call method scalarNode\\(\\) on Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeParentInterface\\|null\\.$#"
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: "#^Method Nucleos\\\\AntiSpamBundle\\\\DependencyInjection\\\\NucleosAntiSpamExtension\\:\\:configureTwig\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DependencyInjection/NucleosAntiSpamExtension.php

		-
			message: "#^Property Nucleos\\\\AntiSpamBundle\\\\Form\\\\EventListener\\\\AntiSpamTimeListener\\:\\:\\$options type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Form/EventListener/AntiSpamTimeListener.php

		-
			message: "#^Method Nucleos\\\\AntiSpamBundle\\\\Form\\\\EventListener\\\\AntiSpamTimeListener\\:\\:__construct\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Form/EventListener/AntiSpamTimeListener.php

		-
			message: "#^Method Nucleos\\\\AntiSpamBundle\\\\Form\\\\Extension\\\\HoneypotFormExtension\\:\\:__construct\\(\\) has parameter \\$defaults with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Form/Extension/HoneypotFormExtension.php

		-
			message: "#^Method Nucleos\\\\AntiSpamBundle\\\\Form\\\\Extension\\\\HoneypotFormExtension\\:\\:createViewOptions\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Form/Extension/HoneypotFormExtension.php

		-
			message: "#^Method Nucleos\\\\AntiSpamBundle\\\\Form\\\\Extension\\\\HoneypotFormExtension\\:\\:createViewOptions\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Form/Extension/HoneypotFormExtension.php

		-
			message: "#^Method Nucleos\\\\AntiSpamBundle\\\\Form\\\\Extension\\\\TimeFormExtension\\:\\:__construct\\(\\) has parameter \\$defaults with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Form/Extension/TimeFormExtension.php

		-
			message: "#^Method Nucleos\\\\AntiSpamBundle\\\\Provider\\\\SessionTimeProvider\\:\\:isValid\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Provider/SessionTimeProvider.php

		-
			message: "#^Method Nucleos\\\\AntiSpamBundle\\\\Provider\\\\TimeProviderInterface\\:\\:isValid\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Provider/TimeProviderInterface.php

		-
			message: "#^Access to an undefined property Prophecy\\\\Prophecy\\\\ObjectProphecy\\<Symfony\\\\Component\\\\Form\\\\FormView\\>\\:\\:\\$children\\.$#"
			count: 2
			path: tests/Form/Extension/HoneypotFormExtensionTest.php

		-
			message: "#^Access to an undefined property Prophecy\\\\Prophecy\\\\ObjectProphecy\\<Symfony\\\\Component\\\\Form\\\\FormView\\>\\:\\:\\$parent\\.$#"
			count: 1
			path: tests/Form/Extension/HoneypotFormExtensionTest.php

		-
			message: "#^Access to an undefined property Prophecy\\\\Prophecy\\\\ObjectProphecy\\<Symfony\\\\Component\\\\Form\\\\FormView\\>\\:\\:\\$parent\\.$#"
			count: 1
			path: tests/Form/Extension/TimeFormExtensionTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Twig\\\\\\\\TwigFilter' and Twig\\\\TwigFilter will always evaluate to true\\.$#"
			count: 1
			path: tests/Twig/Extension/StringTwigExtensionTest.php

		-
			message: "#^Method Nucleos\\\\AntiSpamBundle\\\\Tests\\\\Twig\\\\Extension\\\\StringTwigExtensionTest\\:\\:getMailHtml\\(\\) return type has no value type specified in iterable type iterable\\.$#"
			count: 1
			path: tests/Twig/Extension/StringTwigExtensionTest.php

